<div class="main-container">
  <table st-table="$ctrl.displayed" st-safe-src="$ctrl.data" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="id">id</th>
      <th>serial number</th>
      <th st-sort="status">status</th>
      <th st-sort="value">value</th>
      <th st-sort="quantity">quantity</th>
      <th st-sort="city">city</th>
      <th st-sort="active">active</th>
      <th st-sort="insert">insert</th>
      <th st-sort="execution">execution</th>
      <th st-sort="updated">updated</th>
      <th st-sort="deadline">deadline</th>
      <th st-sort="side">side</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr quick-ng-repeat="row in $ctrl.displayed" quick-repeat-list="items" post-repeat-directive>-->
    <tr ng-repeat="row in $ctrl.displayed" post-repeat-directive>
      <td>{{row['id']}}</td>
      <td>{{row['serial number']}}</td>
      <td ng-class="row['status']">{{row['status']}}</td>
      <td>{{row['value'] | currency:USD}}</td>
      <td>{{row['quantity']}}</td>
      <td>{{row['city']}}</td>
      <td>{{row['active']}}</td>
      <td>{{row['insert'] | date}}</td>
      <td>{{row['execution'] | date}}</td>
      <td>{{row['updated'] | date}}</td>
      <td>{{row['deadline'] }}</td>
      <td>{{row['side']}}</td>
    </tr>
    </tbody>
  </table>
</div>
